.container {
  width: 80% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 50px;
  // background: #14262f;
  // box-shadow: 20px 20px 60px #112028, -20px -20px 60px #172c36;
  // color: grey !important;
}
@media (max-width: 770px) {
  .container {
    // width: 100% !important;
  }
}
