.container {
  margin: 50px 0;
  padding: 15px;
  border-radius: 10px;
  background: #14262f;
  box-shadow: 20px 20px 60px #112028, -20px -20px 60px #172c36;
  color: grey !important;
  .card {
    //  display: none;
    margin: 10px 20px !important;
    border-radius: 50%;
    text-align: center;
    padding: -10px !important;
    background: #14262f;
    box-shadow: inset 20px 20px 60px #112028, inset -20px -20px 60px #172c36;
    color: grey !important;
  }
  .infected {
    border-bottom: 10px solid rgba(0, 0, 255, 0.8) !important;
    // border-top: 10px solid rgba(0, 0, 255, 0.8) !important;
  }
  .recovered {
    // border-bottom: 10px solid rgba(0, 255, 0, 0.8) !important;
    border-top: 10px solid rgba(0, 255, 0, 0.8) !important;
  }
  .death {
    border-bottom: 10px solid rgba(255, 0, 0, 0.8) !important;
    // border-top: 10px solid rgba(255, 0, 0, 0.8) !important;
  }
}
@media (max-width: 770px) {
  .container {
    width: 70% !important;
  }
}
