body {
  background-color: #14262f;
  color: white!important;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 770px) {
    .container {
      margin: 0px 10%;
    }
  }
}
