html{
  background: rgb(177, 186, 191);
  body{
    
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
@media (max-width: 770px) {
  // .container {
  //   margin: 0px 10%;
  // }
}
